<nav class="subnav">
    <ul class="nav-list l-grid">
      {{#each this}}
        <li class="nav-item {{#if isActive}}is-nav-item-active{{/if}} l-grid-u">
            <a href="{{url}}"><b>{{label}}</b></a>
        </li>
      {{/each}}
    </ul>
</nav>
