<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>

    <link rel="stylesheet" href="/vendor/normalize.css" />
    <link rel="stylesheet" href="/style.css" />

  {{#if pictos}}
    <link rel="stylesheet" href="//get.pictos.cc/fonts/{{pictos}}" />
  {{/if}}

  {{#if typekit}}
    <script src="//use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
  {{/if}}
</head>
<body>

{{{body}}}

</body>
</html>
