<h1 class="ann">
    <span class="ann-msg">Announcing the Engagement of</span>
    <span class="ann-name">Leslie Verploegen</span>
    <span class="ann-sep">&amp;</span>
    <span class="ann-name">Eric Ferraiuolo</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Got Engagement"
        time="November 30, 2012"
        photo="/photos/engagement.jpg"
        alt="Photo of Leslie and Eric in their apartment."}}
    {{> event/header}}
    {{> event/photo}}
    {{> event/time}}
  {{/event}}

  {{#event "Graduated from BU"
        who="leslie"
        time="January 25, 2012"}}
    {{> event/header}}
    {{> event/time}}
  {{/event}}

  {{#event "Started at Yahoo!"
        who="eric"
        time="August 1, 2011"}}
    {{> event/header}}
    {{> event/time}}
  {{/event}}

  {{#event "Moved in Together"
        time="August 15, 2009"
        map="ericf.map-jd99sgvf"}}
    {{> event/header}}
    {{> event/map}}
    {{> event/time}}
  {{/event}}
</ol>
