<h1 class="ann">
    <span class="ann-msg">Announcing the Engagement of</span>
    <span class="ann-name">Leslie Verploegen</span>
    <span class="ann-sep">&amp;</span>
    <span class="ann-name">Eric Ferraiuolo</span>
</h1>
