<h1 class="ann">
    <span class="ann-msg">Announcing the Engagement of</span>
    <span class="ann-name">Leslie Verploegen</span>
    <span class="ann-sep">&amp;</span>
    <span class="ann-name">Eric Ferraiuolo</span>
</h1>

<ol class="timeline l-grid">
    <li class="event l-grid-u">
        <h2 class="event-title">Got Engaged</h2>
        <div class="event-photo"></div>
    </li>
    <li class="event l-grid-u">
        <h2 class="event-title">Moved in Together</h2>
        <div class="event-map" data-map="ericf.map-jd99sgvf"></div>
    </li>
</ol>
