{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="ericf.map-89cfakky"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-msg">Wedding</span>
        <span class="ann-date">October 5, 2013</span>
        <span class="ann-loc">Easton, MD</span>
    </h1>


</div>
