body {
    padding-bottom: 0;
}

.ann-sep {
    font-size: 2.5em;
    color: #f2c63d;
}

.timeline {
    list-style: none;
    margin: 0 auto;
    max-width: 48em;
    padding: 6em 0 3em;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0.5em;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -0.25em;
    background: #f2c63d;
}
.timeline:after {
    content: 'h';
    font-family: 'Pictos Custom';
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: -1;
    top: -0.5em;
    left: -0.0417em;
    width: 100%;
    text-align: center;
    color: #f2c63d;
}
.timeline-events {
    margin-top: -2em;
    margin-bottom: -2em;
}
.timeline-events ol {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.timeline-events ol:before,
.timeline-events ol:after {
    content: " ";
    display: table;
}
.timeline-events ol:after {
    clear: both;
}

.event {
    margin: 2em 0;
    display: block;
    padding: 0.5em;
    background: #fff;
    border-top: 1px solid #e5e5df;
    border-bottom: 1px solid #e5e5df;
    /*-webkit-box-shadow: 0 0 2px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0 0 2px rgba(0,0,0, 0.10);
    box-shadow: 0 0 2px rgba(0,0,0, 0.10);*/
}
.event-leslie {
    margin-right: 2em;
    border-right: 1px solid #e5e5df;
}
.event-eric {
    margin-left: 2em;
    border-left: 1px solid #e5e5df;
}
.event-header {
    margin-top: 0;
    margin-bottom: 0.4em;
    padding-right: 2.5em;
    font-size: 1.25em;
}
.event-title {
    width: 100%;
}
.event-person {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    color: #b0afa6;
    text-align: right;
    width: 2.5em;
    margin-right: -2.5em;
}
.event-person-sep {
    font-family: "jubilat", serif;
    font-weight: 400;
    margin: 0 0.15em;
}
.event-time {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
.event-photo {
    position: relative;
    margin: 0 -0.5em;
}
.event-photo img {
    display: block;
    width: 100%;
}
.event-photo-credit {
    font-size: 0.875em;
    position: absolute;
    bottom: 0.2857em;
    right: 0.5714em;
    color: #fcfcf7 !important;
    text-shadow: 0 0 1px #191506;
}
.event-map {
    margin: 0 -0.5em;
    height: 20em;
}

.button-wedding {
    margin: 2em;
    text-align: center;
}

/* 480px */
@media screen and (min-width: 30em) {

}

/* 568px */
@media screen and (min-width: 35.5em) {

}

/* 576px */
@media screen and (min-width: 36em) {
    .event {
        clear: both;
        padding-left: 1em;
        padding-right: 1em;
    }
    .event-header {
        font-size: 1.5em;
        margin-bottom: 0.3333em;
    }
    .event-photo,
    .event-map {
        margin: 0 -1em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    .event {
        clear: both;
    }
    .event-leslie,
    .event-eric {
        width: 23em;
        position: relative;
    }
    .event-leslie {
        float: left;
        clear: left;
        margin: 2em 1em 2em 0;
    }
    .event-eric {
        float: right;
        clear: right;
        margin: 2em 0 2em 1em;
    }
    .event-leslie:before,
    .event-leslie:after,
    .event-eric:before,
    .event-eric:after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
    }
    .event-leslie:before,
    .event-eric:before {
        top: 14px;
        border-width: 12px;
    }
    .event-leslie:after,
    .event-eric:after {
        top: 15px;
        border-width: 11px;
    }
    .event-leslie:before {
        left: 100%;
        border-left-color: #e5e5df;
        /*border-left-color: rgba(0,0,0, 0.05);*/
    }
    .event-leslie:after {
        left: 100%;
        border-left-color: #fff;
    }
    .event-eric:before {
        right: 100%;
        border-right-color: #e5e5df;
        /*border-right-color: rgba(0,0,0, 0.05);*/
    }
    .event-eric:after {
        right: 100%;
        border-right-color: #fff;
    }
    .event-leslie + .event-eric,
    .event-eric + .event-leslie {
        margin-top: 4em;
    }
}

/* 770px */
@media screen and (min-width: 48.125em) {
    .event {
        border: 1px solid #e5e5df;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {

}
