body {
    min-width: 20em;
    line-height: 1.5;
    background: #fcfcf7;
    color: #191506;
    font-family: "proxima-nova" sans-serif;
    padding-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jubilat", serif;
    font-weight: 400;
}

h3 {
    font-size: 1.25em;
}

a:link,
a:visited {
    color: #216eb5;
    text-decoration: none;
}

dd {
    margin: 0 0 1em 1em;
}

address {
    margin: 1em 0;
}

[data-icon]:before {
    font-family: 'Pictos Custom';
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
}

.l-wrap {
    position: relative;
    background: #fcfcf7;
}
.l-contain {
    max-width: 48em;
    margin: 0 auto;
    padding: 0 0.5em;
}
.l-grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
}
.l-inline,
.l-grid-u,
.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.l-grid-u {
    letter-spacing: normal;
    *word-spacing: normal;
    vertical-align: top;
}

.l-contain,
.l-grid,
.l-grid-u {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    position: relative;
    line-height: 3em;
    padding: 0 0.5em 0 3em;
    background: #87c594;
    font-weight: 700;
    text-align: center;
}
.button,
a.button {
    color: #405e47;
    text-decoration: none;
}
.button:before {
    position: absolute;
    font-weight: 400;
    font-size: 2.5em;
    top: 0.125em;
    left: 0.2em;
}

.brand {
    font-size: 1.25em;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    line-height: 2.4;
    margin-left: 0.4em;
}
.brand-sep {
    font-family: "jubilat", serif;
    font-weight: 400;
    margin: 0 0.15em;
}
.brand a {
    display: block;
    color: #b0afa6;
    text-decoration: none;
}
.brand a:hover,
.brand a:active {
    color: #216eb5;
}

.nav-items {
    margin-left: 0.5em;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    margin: 0 0.25em;
    text-transform: uppercase;
}
.nav-item:first-child {
    margin-left: 0;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-item a {
    display: block;
    text-decoration: none;
}
.nav-item b {
    font-weight: inherit;
}
.nav-item a:hover b,
.nav-item a:active b {
    border-bottom: 1px solid #216eb5;
}
.is-nav-item-active b {
    border-bottom: 1px solid #e5e5df;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    z-index: 10;
}
.nav .nav-item a {
    font-size: 1em;
    line-height: 1;
    padding: 1.125em 0.25em 0.75em;
}

.subnav {
    margin: 1em 0;
}

.zoomer {
    display: none !important;
}

/* 480px */
@media screen and (min-width: 30em) {

}

/* 568px */
@media screen and (min-width: 35.5em) {

}

/* 576px */
@media screen and (min-width: 36em) {
    .l-contain {
        padding-left: 1em;
        padding-right: 1em;
    }

    .button {
        padding: 0 1em 0 3.5em;
    }
    .button:before {
        left: 0.4em;
    }

    .brand {
        font-size: 1.5em;
        line-height: 2;
        margin-left: 0.6667em;
    }

    .nav-items {
        margin-left: 1em;
    }
    .nav-item {
        margin: 0 0.5em;
    }
    .nav-item:first-child {
        margin-left: 0;
    }
    .nav-item:last-child {
        margin-right: 0;
    }

    .nav .nav-item a {
        font-size: 1.125em;
        padding: 1em 0.4444em 0.6667em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    body {
        padding-top: 4em;
    }

    .brand {
        line-height: 2.6667;
    }

    .nav .nav-item a {
        padding: 1.4444em 0.4444em 1.1111em;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {

}
