body {
    min-width: 20em;
    line-height: 1.5;
    background: #fcfcf7;
    color: #191506;
    font-family: "proxima-nova" sans-serif;
    padding-top: 3em;
    padding-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jubilat", serif;
    font-weight: 400;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.125em; }
h4 { font-size: 1em; }

a:link,
a:visited {
    color: #216eb5;
    text-decoration: none;
}

dd {
    margin: 0 0 1em 1em;
}

address {
    margin: 1em 0;
}

input,
textarea {
    line-height: 1.5;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 1px solid #E5E5DF;
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    border-radius: 0.125em;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.10);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.10);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #8BBCEA;
}

[data-icon]:before,
[data-icon]:after {
    font-family: 'Pictos Custom';
    -webkit-font-smoothing: antialiased;
}
[data-icon]:before {
    content: attr(data-icon);
}

.l-grid,
.l-grid-1-2 {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}
.opera-only :-o-prefocus,
.l-grid {
    word-spacing: -0.43em;
}
.l-grid-u,
.l-grid-u-full {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.l-grid-1-2 {
    margin-left: -0.5em;
    margin-right: -0.5em;
}
.l-grid-u-full,
.l-grid-1-2 > .l-grid-u {
    width: 100%;
}

.l-wrap {
    position: relative;
    background: #fcfcf7;
}
.l-contain {
    max-width: 48em;
    margin: 0 auto;
    padding: 0 0.5em;
}
.l-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.l-contain,
.l-grid,
.l-grid-u {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
.button {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 3.0;
    padding: 0 0.5em 0 3.5em;
    background: #87c594;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    border: 0;
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    border-radius: 0.125em;
}
button,
.button,
a.button {
    color: #304534;
    text-decoration: none;
}
button:before,
.button:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5;
    width: 1em;
    padding: 0.125em 0.25em 0;
    background: #75AB81;
    text-align: center;
}
button:before,
.button:before,
button:after,
.button:after {
    z-index: 0;
}
.is-button-negative,
a.is-button-negative {
    background: #f2c63d;
    color: #513e06;
}
.is-button-negative:before {
    background: #e0ac10;
}

.brand {
    font-size: 1.25em;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    line-height: 2.4;
}
.brand-sep {
    font-family: "jubilat", serif;
    font-weight: 400;
    margin: 0 0.15em;
}
.brand a {
    display: block;
    padding: 0 0.4em;
    color: #b0afa6;
    text-decoration: none;
}
.brand a:hover,
.brand a:active {
    color: #216eb5;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    margin: 0 1em 0 0;
    text-transform: uppercase;
}
.nav-item:first-child {
    margin-left: 0;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-item a {
    display: block;
    text-decoration: none;
}
.nav-item b {
    font-weight: inherit;
}
.nav-item a:hover b,
.nav-item a:active b {
    border-bottom: 1px solid #216eb5;
}
.is-nav-item-active b {
    border-bottom: 1px solid #e5e5df;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    z-index: 10;
}
.nav .nav-items {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}
.nav .is-nav-items-active {
    max-height: 15em;
}
.nav .nav-item {
    width: 100%;
    margin: 0;
}
.nav .nav-item a {
    line-height: 1;
    padding: 1.0675em 0.5em 0.9375em;
}
.nav .nav-toggle {
    width: auto;
    float: right;
    margin: 0;
}
.nav .nav-toggle a {
    font-weight: 400;
}
.nav .nav-toggle a:before {
    content: none;
}
.nav .nav-toggle a:after {
    content: attr(data-icon);
    text-transform: none;
    vertical-align: middle;
    margin-left: 0.25em;
    line-height: 0.5;
}

.subnav {
    margin: 1em 0;
}
.subnav .nav-item:first-child a {
    color: #b0afa6;
}
.subnav .nav-item:first-child a:hover,
.subnav .nav-item:first-child a:active {
    color: #216eb5;
}
.subnav .nav-item:first-child b {
    border-bottom: none;
}
.subnav .nav-item:first-child b:after {
    content: ":"
}

.ann {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 1em 0;
}
.ann > * {
    display: block;
    text-align: center;
}
.ann-primary {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #216eb5;
}
.ann-secondary {
    line-height: 1.0;
    color: #b0afa6;
}

.callout {
    padding: 0.5em 0 0.5em 2em;
    border-left: 4px solid #f2c63d;
}

.break {
    width: 80%;
    margin: 2em auto;
    height: 1px;
    line-height: 1px;
    background: #e5e5df;
    border-top: 1px solid #fcfcf7;
}

.zoomer {
    display: none !important;
}

/* 480px */
@media screen and (min-width: 30em) {
    .ann {
        font-size: 1.5em;
    }
}

/* 568px */
@media screen and (min-width: 35.5em) {
    .nav .nav-items {
        display: inline-block;
        max-height: none;
        /* Fixes Firefox's issue with `auto` */
        width: 30em;
    }
    .nav .nav-item {
        width: auto;
    }

    .nav .nav-toggle {
        display: none;
    }
}

/* 576px */
@media screen and (min-width: 36em) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }

    .l-grid-1-2 {
        margin-left: -1em;
        margin-right: -1em;
    }
    .l-grid-1-2 > .l-grid-u {
        width: 50%;
    }

    .l-contain {
        padding-left: 1em;
        padding-right: 1em;
    }

    button,
    .button {
        padding: 0 1em 0 4em;
    }

    .brand {
        font-size: 1.5em;
        line-height: 2;
    }
    .brand a {
        padding: 0 0.6667em;
    }

    .nav .nav-item a {
        font-size: 1.125em;
        padding: 0.9444em 0.8888em 0.7222em;
    }

    .ann {
        font-size: 2em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    body {
        padding-top: 4em;
    }

    .brand {
        line-height: 2.6667;
    }

    .nav .nav-item a {
        padding: 1.3889em 0.8888em 1.1667em;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {
    .ann {
        font-size: 2.5em;
        margin: 1.2em 0;
    }
}
