body {
    min-width: 20em;
    line-height: 1.5;
    background: #fcfcfc;
    color: #222;
    font-family: "proxima-nova" sans-serif;
    padding-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jubilat", serif;
    font-weight: 400;
}

[data-icon]:before {
    font-family: 'Pictos Custom';
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
}

.l-wrap {
    position: relative;
    background: #fcfcfc;
}
.l-grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
}
.l-inline,
.l-grid-u {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.l-grid-u {
    letter-spacing: normal;
    *word-spacing: normal;
    vertical-align: top;
}
.l-grid,
.l-grid-u {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brand {
    font-size: 1.25em;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    line-height: 2.4;
    margin-left: 0.4em;
}
.brand-sep {
    font-family: "jubilat", serif;
    font-weight: 400;
    margin: 0 0.15em;
}
.brand a {
    display: block;
    color: #aaa;
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 1px 1px #ddd;
    -moz-box-shadow: 0 1px 1px #ddd;
    box-shadow: 0 1px 1px #ddd;
    z-index: 10;
}
.nav-items {
    margin-left: 0.5em;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    margin: 0 0.25em;
    text-transform: uppercase;
}
.nav-item a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    line-height: 1;
    padding: 1.125em 0.25em 0.75em;
    color: #222;
}
.nav-item b {
    font-weight: inherit;
}
.nav-item a:hover b,
.nav-item a:active b,
.is-nav-item-active b {
    border-bottom: 1px solid #ddd;
}

.zoomer {
    display: none !important;
}

/* 480px */
@media screen and (min-width: 30em) {

}

/* 568px */
@media screen and (min-width: 35.5em) {

}

/* 576px */
@media screen and (min-width: 36em) {
    .nav-items {
        margin-left: 1em;
    }

    .nav-item {
        margin: 0 0.5em;
    }

    .brand {
        font-size: 1.5em;
        line-height: 2;
        margin-left: 0.6667em;
    }

    .nav-item a {
        font-size: 1.125em;
        padding: 1em 0.4444em 0.6667em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    body {
        padding-top: 4em;
    }

    .brand {
        line-height: 2.6667;
    }

    .nav-item a {
        padding: 1.4444em 0.4444em 1.1111em;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {

}
