html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 62%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: #fff;
}

.l-wrap {
    position: absolute;
    top: 62%;
    width: 100%;
    min-height: 38%;
    z-index: 2;
    -webkit-box-shadow: 0 -1px 1px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0 -1px 1px rgba(0,0,0, 0.10);
    box-shadow: 0 -1px 1px rgba(0,0,0, 0.10);
}

.ann {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 1.5em 0;
    color: #216eb5;
}
.ann > * {
    display: block;
    text-align: center;
}
.ann-msg,
.ann-loc {
    line-height: 1.0;
    color: #b0afa6;
}
.ann-date {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

.cal {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    padding: 0;
    background: #fff;
    border: 1px solid #e5e5df;
    border-left: 0;
    border-right: 0;
}
.cal-day {
    width: 80%;
    white-space: normal;
    position: relative;
}
.cal-day-primary {
    border: 1px solid #e5e5df;
    border-top: 0;
    border-bottom: 0;
}
.cal-day-header {
    margin: 0.5em 0;
    text-align: right;
    font-family: "proxima-nova" sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.0;
}
.cal-day-date {
    margin-left: 0.5em;
}

#cal-day-circle {
    right: -0.25em;
}

.travel-nav {
    list-style: none;
    margin: 0 auto 2em auto;
    padding: 0;
}
.travel-nav-item {
    width: 50%;
}
.travel-nav .button {
    display: block;
}
.travel-nav-travel .button {
    margin-right: 1px;
    text-align: left;
    padding: 0 0.5em 0 3.5em;
}
.travel-nav-hotel .button {
    margin-left: 1px;
    text-align: right;
    padding: 0 3.5em 0 0.5em;
}
.travel-nav-hotel .button:before {
    left: auto;
    right: 0.2em;
}

/* 480px */
@media screen and (min-width: 30em) {
    .ann {
        font-size: 1.5em;
    }

    .cal-day {
        width: 50%;
    }
}

/* 568px */
@media screen and (min-width: 35.5em) {
    .ann {
        font-size: 2em;
    }

    .travel-nav .button {
        text-align: center;
        padding: 0;
    }
}

/* 576px */
@media screen and (min-width: 36em) {
    #cal-day-circle {
        right: 0.5em;
    }

    .travel-nav-travel .button:before {
        left: 0.4em;
    }
    .travel-nav-hotel .button {
        padding: 0 3.5em 0 1em;
    }
    .travel-nav-hotel .button:before {
        right: 0.4em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    .cal {
        overflow-x: auto;
    }
    .cal-day {
        width: 33.3333%;
    }
}

/* 770px */
@media screen and (min-width: 48.125em) {
    .cal {
        border: 1px solid #e5e5df;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {
    .ann {
        font-size: 2.5em;
        margin: 1.2em 0;
    }
}
