.details-header {
    margin-top: -1em;
    padding-top: 2em;
}
.details-group .l-grid-u {
    display: block;
}
.details address {
    text-align: center;
}
.details-break {
    width: 80%;
    margin: 2em auto;
    height: 1px;
    line-height: 1px;
    background: #e5e5df;
    border-top: 1px solid #fcfcf7;
}

/* 768px */
@media screen and (min-width: 48em) {
    .details-header {
        margin-top: -1.6667em;
        padding-top: 2.6667em;
    }
    .details-group {
        margin: 1em -1em;
    }
    .details-group .l-grid-u {
        display: inline-block;
        *display: inline;
        width: 50%;
        vertical-align: top;
    }
    .details-content {
        margin: 0;
        padding: 0 1em;
    }
    .details-content li {
        margin-left: 2.5em;
    }
    .details address {
        text-align: left;
    }
}
