{{setPageTitle "RSVP for Brunch"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1 class="ann">
        <span class="ann-primary">{{guestsNames html=true}},</span>
        <span class="ann-secondary">
            Thanks For Letting Us Know You Won’t Be Attending The Brunch.
        </span>
    </h1>

</div>

