{{setPageTitle "RSVP for Brunch"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>RSVP for Brunch After Our Wedding</h1>

    <p class="callout">
        To respond, you’ll need to follow the special link which was emailed to you.
    </p>
</div>
