body {
    line-height: 1.5;
    background: #fdfdfd;
    color: #222;
}

[data-icon]:before {
    font-family: 'Pictos Custom';
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
}

.ann {
    font-family: "jubilat", serif;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.25;
    margin-top: 0.5em;
}
.ann > * {
    display: block;
    text-align: center;
}
.ann-msg {
    line-height: 1.0;
}
.ann-name {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: 2em;
}
.ann-sep {
    font-size: 2.5em;
    line-height: 1.0;
}
.ann-msg,
.ann-sep {
    color: #aaa;
}

@media screen and (min-width: 480px) {
    .ann {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 568px) {
    .ann {
        font-size: 2em;
    }
}
