{{#with invitation}}
<div class="inv l-contain {{#if send_paper}}is-inv-send-paper{{/if}}">
    <p class="inv-send-paper">
        <label>
            <input type="checkbox" data-send-paper {{#if send_paper}}checked{{/if}}>
            Send keepsake paper invitation
        </label>
    </p>

    <div class='inv-address l-grid'>
        <div class="inv-address-msg l-contain l-grid-u">
            <p>
                You’re keepsake invitation will be mailed to:
            </p>
        </div>

        <div class="inv-address-val l-contain l-grid-u">
            <address>{{address}}</address>
            <textarea data-address rows="3">{{address}}</textarea>

            <p>
                <button class="inv-address-edit" data-icon="e" data-edit>
                    Edit Address
                </button>
                <button class="inv-address-done" data-icon="d" data-done>
                    Done Editing
                </button>
            </p>
        </div>
    </div>
</div>
{{/with}}
