{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>We're Now Married!</h1>

    <p>
        Our wedding has happened as we are now married, so this RSVP section of our website is no longer relevant and has been disabled.
    </p>

    <p style="text-align: center;">
        <a class="button" data-icon="H" href="/">Go to Homepage</a>
    </p>
</div>
