{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="attending">
        <div class="l-contain">
            <h1 class="ann">
                <span class="ann-primary">{{guestsNames attending=true html=true}},</span>
                <span class="ann-secondary">Yay, We’re Happy You’ll Be Attending!</span>
            </h1>
        </div>

      {{#with invitation}}
        <div class="inv l-contain">
            <p class="inv-header l-grid">
                <span class="inv-status l-grid-u">
                    {{../status}}
                </span>

                <span class="inv-ctrls l-grid-u">
                    <button class="inv-edit" data-icon="e" data-edit>Edit</button>
                    <button class="inv-done" data-icon="d" data-done>Done</button>
                </span>
            </p>

            <div class="inv-guests l-grid">
              {{#guests meals = ../meals}}
                {{> rsvp/guest}}
              {{/guests}}
            </div>

            <div class="inv-address">
                <b>Address:</b><br>
                <address>{{address}}</address>
            </div>
            <div class="inv-address-val">
                <label for="inv-address-val">Address:</label><br>
                <textarea data-address id="inv-address-val" rows="3">{{address}}</textarea>
            </div>
        </div>
      {{/with}}
    </div>
</div>
