{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="attending">
        <div class="l-contain">
            {{setMessageToGuests "Yay, We’re Happy You’ll Be Attending…"}}
            {{> rsvp/header}}

            <p>
                We’re excited that you’ll be there to celebrate our wedding!
            </p>
        </div>

        <div class="guests l-contain">
            <div class="guests-list l-grid">
              {{#each invitation.guests}}
                {{> rsvp/guest}}
              {{/each}}

                <div class="guests-ctrls l-grid-u">
                    <button class="guests-edit" data-icon="e" data-edit>
                        Edit Details
                    </button>
                    <button class="guests-done" data-icon="d" data-done>
                        Done Editing
                    </button>
                </div>
            </div>
        </div>

        <div class="l-contain">
            <p>
                <b>You have RSVP’d for our wedding</b>, but if you would <em>also</em> like to receive a paper invitation from us as a keepsake, check the box below:
            </p>
        </div>

        {{> rsvp/invitation}}
    </div>
</div>
