{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}

<div class="l-contain">
    <h1>RSVP for Our Wedding</h1>

    <p>
        All invited guests will be able to respond to their invitations here on our website. <b>Soon guests will receive an email from us with a special link to this page</b>, allowing them to respond online. Eric is dedicated to building the best invitation system he possibly can :)
    </p>
</div>
