{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="notAttending">
        <div class="l-contain">
            {{setMessageToGuests "We’re Sorry You Won’t Be Attending…"}}
            {{> rsvp/header}}

            <p>
                You’ll be missed during the celebration. If you would still like to receive a paper invitation from us as a keepsake, check the box below:
            </p>
        </div>

        {{> rsvp/invitation}}
    </div>
</div>
