{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="notAttending">
        <div class="l-contain">
            {{setMessageToGuests "We’re Sorry You Won’t Be Attending."}}
            {{> rsvp/header}}

            <p>
                You’ll be missed during the celebration. Please contact us this is a mistake and you will be attending.
            </p>
        </div>
    </div>
</div>
