{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="notAttending">
        <div class="l-contain">
            <h1 class="ann">
                <span class="ann-primary">{{guestsNames html=true}},</span>
                <span class="ann-secondary">We’re Sorry You Won’t Be Attending.</span>
            </h1>
        </div>

        <div class="inv l-contain">
            <p>
                You’ll be missed during the celebration. Please contact us if this is a mistake and you will be attending:
            </p>

            <p class="inv-address">
                Leslie Verploegen &amp; Eric Ferraiuolo<br>
                67 Saint Germain St. #15<br>
                Boston, MA 02115
            </p>
        </div>
    </div>
</div>
