{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="rsvp">
        <div class="l-contain">
            <h1 class="ann">
                <span class="ann-primary">{{guestsNames html=true}},</span>
                <span class="ann-secondary">Will You Be Attending Our Wedding?</span>
            </h1>

            <div class="rsvp">
                <button data-attending="true" class="rsvp-yes" data-icon="y">
                    Yes, Attending
                </button>
                <button data-attending="false" class="rsvp-no is-button-negative" data-icon="n">
                    Regretfully, Not Attending
                </button>
            </div>
        </div>
    </div>
</div>
