{{setPageTitle status}}

<div class="l-contain">
    <h1>{{status}}</h1>

    <p>
      {{#if message}}
        {{message}}
      {{else}}
        Looks like there was a problem :(
      {{/if}}
    </p>

    <p style="text-align: center;">
        <a class="button" data-icon="H" href="/">Go to Homepage</a>
    </p>
</div>
