{{setYUIModule "le-home"}}
{{setDescription "Leslie Verploegen & Eric Ferraiuolo are getting married on October 5th, 2013 in Easton, MD."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Leslie Verploegen</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Eric Ferraiuolo</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Married"
        time   = "October 5, 2013"
        photo  = "/photos/engagement.jpg"
        alt    = "Photo of Leslie and Eric in their apartment."
        credit = "Megan Beth Photography|http://www.meganbeth.com/"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Leslie and Eric are getting married this Fall in <strong>Easton, Maryland</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Celebrated Engagement"
        time  = "December 2, 2012"
        photo = "/photos/napa.jpg"
        alt   = "Photo of vinyard in Napa, CA"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        After getting engaged in San Francisco, Leslie and Eric headed north out of the city to Napa Valley. They celebrated their engagement by spending a few romantic days touring wineries and vineyards.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Got Engaged"
        time = "November 30, 2012 @ 3:00pm"
        map  = "ericf.map-2kpl38sn"}}

    {{> event/header}}
    {{> event/map}}

    <p>
        Eric had to improvise how he was going to propose to Leslie. The original plan was to spend the day hiking Mt. Tamalpais, and when arriving at a scenic view, he'd ask Leslie to marry him. But the weather wasn’t going to be accommodating…
    </p>
    <p>
        After a leisurely morning in Union Square, Leslie and Eric found themselves at the Apple store (where else :). At this point Eric was contemplating the possible ways he was going to pull off this proposal. They decided their next stop was going to be the SF MOMA.
    </p>
    <p>
        On their way towards the museum, the weather broke and the Sun came out. Leslie had the wise idea that they shouldn’t spend the only sunny time of the day inside. Thinking on his feet, Eric suggested they head towards Twin Peaks.
    </p>
    <p>
        Once up on Twin Peaks, after looking down on the city from the pedestrian lookout, Eric suggested that they hike to the top of one of the hills. At the top they could see the Pacific Ocean, the Golden Gate Bridge, and downtown San Francisco. Looking up at Leslie with the city behind him, Eric ask Leslie to marry him. And of course <strong>she said “Yes!”</strong>
    </p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
           {{#event "Left for SF “Vacation”"
                who  = "leslie"
                time = "November 29, 2012"}}

            {{> event/header}}

            <p>
                Leslie was all ready to meet Eric in San Francisco to go on a “vacation” they'd planned. She had no idea Eric had an engagement ring with him…
            </p>
            <p>
                At the Boston airport, Leslie learned her flight was going to be delayed by three hours. Monster storms were pummeling the Bay Area with rain and high winds; leaving only one runway open at SFO. This meant she wouldn’t arrive until 3:00am PST :(
            </p>
            <p>
                Eric was alone in a San Francisco hotel room, anxiously awaiting Leslie’s arrival.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Got the Ring"
                who  = "eric"
                time = "November 7, 2012"}}

            {{> event/header}}

            <p>
                Eric knew it was time. Leslie and he had been together for almost five years, and he wanted to spend his life with her.
            </p>
            <p>
                Eric wanted to get a ring that would accurately symbolize his feelings for Leslie. He worked with his Mom’s cousin—who’s a third generation jeweler—to create a beautiful custom ring he knew Leslie would love.
            </p>
            <p>
                Leslie had not expected a thing; she assumed Eric was procrastinating on this whole proposal thing and figured she'd have to keep waiting… patiently :)
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>

  {{#event "Moved in Together"
        time  = "August 15, 2009"
        photo = "/photos/apartment.jpg"
        alt   = "Photo fo Leslie’s and Eric’s apartment in Boston."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        After dating for over a year and half, Leslie and Eric were very much in love and decided to move in together. They were fortunate to find an <em>excellent</em> apartment in Boston's Back Bay neighborhood.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Went on First Date"
        time = "January 29, 2008"}}

    {{> event/header}}

    <p>
        In late January, Leslie and Eric went on at snowboarding day-trip-only the two of them. Leslie realized that she really liked Eric. The next day a work, she decided to tell Eric via GChat (such a chicken) that she had feelings for him. Eric was shocked! Around that same time he had finally stopped trying to pursue Leslie; right when he stopped, the tables turned.
    </p>
    <p>
        The next day Leslie and Eric went on their first date to a Tapas restaurant near their office. Leslie was so nervous that she couldn’t eat :)
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Became Snowboard Buddies"
        time  = "January 2008"
        photo = "/photos/snowboarding.jpg"
        alt   = "Photo of Leslie and Eric on a chair lift."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Leslie and Eric got to know each other better on weekend snowboarding trips in Vermont and New Hampshire with groups of friends. Leslie was impressed by Eric’s snowboarding and liked the way he moved.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Met for the First Time"
        time = "July 2007"}}

    {{> event/header}}

    <p>
        Leslie and Eric were working in the same office building on the same floor, but for different companies. Shortly after Eric moved to Boston, the two met at the floor’s communal coffee station. (That might explain how Eric became a coffee aficionado.)
    </p>
    <p>
        Eric kept seeing this cute girl on the floor (which of course was Leslie). And to increase his chances of running into her, he kept himself overly caffeinated and hydrated. This meant he had to make multiple trips to the communal kitchen, passing by Leslie’s office each time.
    </p>
    <p>
        <strong>Finally,</strong> the two ran into each other—both waiting in line to use the coffee machine. Eric knew this was his moment and that he had to seize this opportunity. Eric told Leslie that he was new to town and trying to find a permanent place to live. Leslie having moved to Boston only a year earlier could relate, and invited Eric to hang out with her and her friends.
    </p>
    <p>
        …Leslie gave Eric her phone number. <strong>Success!</strong>
    </p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Moved: MI to Boston"
                who  = "eric"
                time = "June 2007"
                map  = "ericf.map-33lesuym"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                After graduating from Michigan State University, Eric headed East and moved to Boston.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Moved: VA to Boston"
                who  = "leslie"
                time = "July 2006"
                map  = "ericf.map-bsmwt9pf"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                After graduating from Virginia Tech, Leslie headed North and moved to Boston.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
