{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        We are registered at <a href="http://www.amazon.com/registry/wedding/3486CYEQP58UF">Amazon</a> and <a href="http://www.crateandbarrel.com/Gift-Registry/Leslie-Verploegen-and-Eric-Ferraiuolo/r5038140">Crate&amp;Barrel</a>, or as an alternative we would be honored to have donations made in our name to charities in which we’re involved.
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.amazon.com/registry/wedding/3486CYEQP58UF">
                <img src="/img/amazon.png">
            </a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.crateandbarrel.com/Gift-Registry/Leslie-Verploegen-and-Eric-Ferraiuolo/r5038140">
                <img src="/img/crate_and_barrel.png">
            </a>
        </div>
    </div>

    <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="http://www.ugandavillageproject.org">Uganda Village Project</a></h2>
            <p>
                Public Health non-profit in Iganga, Uganda where Leslie lived and worked in the summer of 2011.
            </p>

            <p class="donate">
                <a class="button" href="http://www.ugandavillageproject.org/get-involved/donate/">Donate to Uganda Village Project</a>
            </p>
        </div>

        <div class="l-grid-u l-contain">
            <h2><a href="http://www.stfrancishouse.org/">Saint Francis House</a></h2>
            <p>
                Homeless shelter in Boston where Leslie and Virginia, matron of honor, volunteer.
            </p>

            <p class="donate">
                <a class="button" href="https://secure2.convio.net/sfh/site/Donation2?idb=1766832153&amp;df_id=2240&amp;2240.donation=form1">Donate to Saint Francis House</a>
            </p>
        </div>
    </div>

    <p>
        If you are donating to one of these charities, please make sure to note on the check or online form that you are donating in honor of our wedding because we want to be able to thank you.
    </p>
</div>
