{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        We’ve reserved blocks of rooms at the following hotels in the area, all under the name: <b>“Verploegen/Ferraiuolo”</b>.
    </p>

    <p class="callout">
        You should <b>call the hotels to make a reservation</b>, their websites will show they are fully booked because of our room blocks.
    </p>

    <h2>Tidewater Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.tidewaterinn.com/">tidewaterinn.com</a></li>
                <li><b>Phone:</b> 410-822-1300</li>
                <li>15 of 100 rooms blocked</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=101+East+Dover+Street+Easton,+MD+21601">
                    101 East Dover Street<br>
                    Easton, MD 21601
                </a>
            </address>
        </div>
    </div>

    <h2>Bartlett Pear Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://bartlettpearinn.com/">bartlettpearinn.com</a></li>
                <li><b>Phone:</b> 410-770-3300</li>
                <li>7 rooms, entire Inn blocked</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=28+South+Harrison+Street+Easton,+MD+21601">
                    28 South Harrison Street<br>
                    Easton, MD 21601
                </a>
            </address>
        </div>
    </div>

    <h2>The Bishop’s House</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://bishopshouse.com/">bishopshouse.com</a></li>
                <li><b>Phone:</b> 410-820-7290</li>
                <li>4 of 5 rooms blocked</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=214+Goldsborough+Street+Easton,+MD+21601">
                    214 Goldsborough Street<br>
                    Easton, MD  21601
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <p>
        The following are some other recommendations in the area, but we were <b>unable blocks rooms</b> at these hotels:
    </p>

    <h2>Holiday Inn Express</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.hiexpress.com/hotels/us/en/easton/easex/hoteldetail">Website</a></li>
                <li><b>Phone:</b> 410-819-6500</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to become available <em>after</em> <strong>September 5th</strong>.
                </li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=8561+Ocean+Gateway+Easton,+MD+21601">
                    8561 Ocean Gateway<br>
                    Easton, Maryland 21601
                </a>
            </address>
        </div>
    </div>

    <h2>Easton’s Promise</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.eastonspromise.com/">eastonspromise.com</a></li>
                <li><b>Phone:</b> 410-820-1959</li>
                <li><em>No rooms blocked</em>, Bed &amp; Breakfast</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=107+Goldsborough+Street+Easton,+MD+21601">
                    107 Goldsborough Street<br>
                    Easton, Maryland 21601
                </a>
            </address>
        </div>
    </div>
</div>
