{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        We understand that many of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to Maryland as easy as possible.
    </p>

    <h2>BWI</h2>
    <p>
        Easton and Saint Michaels are rural towns on Maryland’s Eastern Shore. The best airport to fly into is <a href="http://maps.apple.com/?q=Baltimore/Washington+International+Airport"><b>Baltimore/Washington International (BWI)</b></a>. The drive from BWI to Easton, MD is a little over one hour (60 miles). In order to get between hotels and the wedding venue a car is necessary.
    </p>

    <h2>Shuttle from BWI to Easton</h2>
    <p>
        For those of you who are sharing cars, but who may not be arriving at the airport at the same time, there's the <a href="http://www.bayrunnershuttle.com/"><b>BayRunner Shuttle</b></a>.
    </p>
    <p>
        This shuttle leaves every other hour from 8:30am to 8:30pm daily. The rates are $51 for one person each way or $84 for two people each way. The shuttle drops you at the Easton Airport where someone can pick you up or you can take a 5 minute taxi ride to many of the hotels in Easton.
    </p>
</div>
