{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Things To Do in the Area</h1>

    <p>
        Since you might be traveling a far distance to attend our wedding, you probably want to stay in the area for a few days. Below are some possible things you could do before or after our wedding while you’re in the Easton, MD area.
    </p>

    <h2>Saint Michaels and Easton</h2>
    <p>
        Our wedding is between Saint Michaels and Easton Maryland. While all of our <a href="../hotels/">hotel suggestions</a> are in Easton, Saint Michaels is the neighboring town. Both have very cute, walkable downtowns, and each has a number of great restaurants and shops. You should be sure to take some time and explore these great little Maryland towns!
    </p>

    <h2>Chesapeake Bay Maritime Museum</h2>
    <p>
        An 18 acre waterfront museum that celebrates Chesapeake Bay culture, boats, seafood, and history. October 5th and 6th is the <b>30th Annual Mid-Atlantic Small Craft Festival</b> (small craft means small boats, not arts and crafts).
    </p>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://cbmm.org/">cbmm.org</a></li>
                <li><b>9:00am &ndash; 5:00pm</b>, daily in October</li>
                <li><b>10/5 &ndash; 10/6:</b> Mid-Atlantic Small Craft Festival</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=213+North+Talbot+Street+Saint+Michaels,+MD+21663">
                    213 North Talbot Street<br>
                    Saint Michaels, MD 21663
                </a>
            </address>
        </div>
    </div>

    <h2>Boat Shows in Annapolis</h2>
    <p>
        Every Fall, Annapolis hosts two separate boat shows: a Powerboat, and a Sailboat show. These boat shows transforms historical city of Annapolis into a boat mecca. If you’re a boat enthusiast, or are curious to check out the festivities, <em>we highly recommend</em> stopping through Annapolis before or after our wedding. Annapolis is also the city where Leslie grew up.
    </p>
    <ul>
        <li><a href="http://www.usboat.com/">www.usboat.com</a></li>
        <li><b>10/3 &ndash; 10/6:</b> Powerboat Show</li>
        <li><b>10/10 &ndash; 10/14:</b> Sailboat Show</li>
    </ul>

    <h2>Historic Annapolis</h2>
    <p>
        Annapolis is not only a magnet for boaters, but is full of history. Annapolis was even the Capital of the United States of America for a brief period from November 26, 1783 to June 3, 1784. Other noteworthy sites in Annapolis:
    </p>
    <ul>
        <li>
            <p><b>US Naval Academy</b></p>
        </li>
        <li>
            <p>
                <b>Maryland State House:</b> The site where General George Washington resigned his commission as Commander-in-Chief of the Army to the Congress on December 23, 1783.
            </p>
        </li>
        <li>
            <p>
                <b>William Paca House and Garden:</b> William Paca was a signer of the Declaration of Independence.
            </p>
        </li>
        <li>
            <p>
                <b>Charles Carroll House:</b> Located on the grounds of St. Mary’s Church and School (Leslie’s high school). Carroll was the only Catholic signer of the Declaration of Independence.
            </p>
        </li>
        <li>
            <p><b>Main Street shopping and restaurants</b></p>
        </li>
        <li>
            <p>
                <b>Ego Alley:</b> Named for boaters with big egos who parade their boats down the narrow waterway to show them off, and then have trouble turning around to exit! (During the boat show, City Dock and Ego Alley will be filled with boats.)
            </p>
        </li>
    </ul>
</div>
